# Local developer overrides
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Local docker database URL
DATABASE_URL=your_key

# Stripe Local Testing Keys
STRIPE_API_KEY=sk_test_51...
STRIPE_WEBHOOK_SECRET=whsec_...
