# App Configuration
NEXT_PUBLIC_APP_URL=your_key

# Database Connection
DATABASE_URL=your_key

# Authentication Key Template
NEXT_PUBLIC_AUTH_PROVIDER_KEY=your_key
AUTH_SECRET_KEY=your_key

# Payments (Stripe)
STRIPE_API_KEY=your_key
STRIPE_WEBHOOK_SECRET=your_key

# AI APIs
OPENAI_API_KEY=your_key
ANTHROPIC_API_KEY=your_key

# Email (Resend)
RESEND_API_KEY=your_key
